$tablet: 770px;
$mobile: 400px;
$heading-font: 'Black Ops One', cursive;
$body-font: 'Oswald', sans-serif;

body {
  background: lightgrey;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  margin: 0 auto;
  width: 85%;
  border-radius: 10px;
  height: 100vh;
}

.computer,
.user,
.winner {
  margin: 10px;
  font-family: $body-font;
}

.user {
  margin-top: 2%;
}

.score {
  display: flex;
  font-family: $body-font;
}

.hide {
  display: none;
}

.scoreComputer,
.scoreUser {
  padding: 25px;
  padding-top: 0;
  font-weight: bold;
  font-size: 1.6rem;
}

h1 {
  font-size: 5.5rem;
  padding-bottom: 2px;
  border-bottom: 3px solid lightgrey;
  font-weight: bold;
  font-family: $heading-font;
  text-align: center;
  margin: .15em 3em 0;
}

button {
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 1.4rem;
  color: white;
  background: green;
  box-shadow: 2px 2px 2px grey;
  transition: all 0.3s;
  outline: none;
  border-radius: 10px;
  font-family: $heading-font;
  &:active {
    box-shadow: none;
  }
  &:hover {
    background: lighten(green, 8%);
  }
}

h2 {
  margin: 0 auto;
}

#scoreCard {
  font-size: 1.3rem;
}

.buttons button {
  width: 100%;
}

.buttons {
  padding-bottom: 5%;
}

#resultComputer,
#resultUser {
  font-size: 9.0rem;
  font-weight: bold;
  text-shadow: 3px 5px 4px green;
  padding: 0 3vw 10vh;
  margin-top: 5%;
  text-align: center;
  border-radius: 50px;
  font-family: $heading-font;
}
@media (max-width: $tablet) {}
@media (max-width: $mobile) {
  h1 {
    font-size: 3.0rem;
    margin: 5px 0 0 0;
  }

  .wrapper {
    width: 95%;
    margin-top: 2%;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .buttons button {
    width: 99%;
  }

  button {
    padding: 10px 75px;
  }

  #scoreCard {
    font-size: 1rem;
  }

  .scoreComputer,
  .scoreUser {
    font-size: 1.2rem;
    text-align: center;
    padding: 10px 25px 10px 25px;
  }

  .result  {
    margin-top: 45%;
  }

  #resultComputer,
  #resultUser {
    font-size: 3.0rem;
    margin-top: 15%;
  }
}
